body {

  background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  padding: 500;
  margin-top: 150px;
  text-align: center;
}